.nav{
    list-style: none;
}
.nav li{
    display: inline;
    font-size: 30px;
    margin-left: 2px;
}
li:hover{
    color: blue;
}
.box{
    background-color: blue;
    height: 200px;
    width: 200px;
}