.nav{
    list-style: none;
    background-color: cornflowerblue;
}
.nav li{
    display: inline;
    font-size: 30px;
    margin-left: 10px;
}
li:hover{
    color: rgb(249, 249, 250);
    background-color: blueviolet;
    cursor: pointer;
}
.welcome{
    background-color: rgb(243, 240, 247);
}
.box{
    height:100px;
    width:400px;
    background-color:rgb(86, 7, 160);
}